{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/description.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Опис моделі</title>
</head>
<body>
<header>
    <h1 class="header-text">Тренди для транспортних засобів: ДВЗ та електромобілі</h1>
</header>
<div class="main-content">
    <div class="menu">
        <input type="checkbox" id="nav-toggle" hidden>

        <nav class="nav">

            <label for="nav-toggle" class="nav-toggle" onclick></label>

            <ul>
                <li><a href="/">Головна</a>
                <li><a href="/description">Опис математичної моделі</a>
                <li><a href="/trends">Тренди</a>
                <li><a href="/about_dvz">Про ДВЗ</a>
                <li><a href="/about_ev">Про електродвигуни</a>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="section">
            <h2>Опис системи</h2>
            <p>Ця система імітаційного моделювання дозволяє аналізувати процес переходу від автомобілів із двигуном
                внутрішнього згоряння (ДВЗ) до електромобілів. Вона враховує різні економічні, технічні та соціальні
                фактори, що впливають на цю трансформацію.</p>
        </div>
        <div class="section">
            <h2>Основні компоненти</h2>
            <h3>Ліва панель</h3>
            <p>Панель для введення параметрів моделювання, яка включає:</p>
            <ul>
                <li>Введення початкових значень для параметрів, таких як:</li>
                <ul>
                    <li>Ціна палива (<code>fuel_price</code>)</li>
                    <li>Ціна електроенергії (<code>electricity_price</code>)</li>
                    <li>Фактори обслуговування для ДВЗ та електромобілів (<code>dvz_maintenance_factor</code>, <code>ev_maintenance_factor</code>)
                    </li>
                    <li>Дальність ходу та швидкість заряджання/заправки (<code>dvz_range</code>, <code>ev_range</code>,
                        <code>charging_speed</code>, <code>refueling_speed</code>)
                    </li>
                    <li>Субсидії на електромобілі та ДВЗ (<code>ev_subsidy</code>, <code>dvz_subsidy</code>)</li>
                </ul>
                <li>Можливість налаштувати тренди змін параметрів із часом (<span>📈</span> збільшення, <span>📉</span>
                    зменшення, <span>⏸</span> стабільність).
                </li>
                <li>Повзунок для визначення тривалості моделювання (вказується кількість років).</li>
                <li>Кнопка <strong>"Розрахувати"</strong> для запуску моделювання.</li>
            </ul>
            <h3>Права панель</h3>
            <p>Панель для візуалізації результатів, яка включає:</p>
            <ul>
                <li>Таблицю зі співвідношенням автомобілів з ДВЗ (червоні) та електромобілів (сині) у кожному році.</li>
                <li>Графічне представлення у вигляді іконок автомобілів:</li>
                <ul>
                    <li><span class="icon red"></span> Червоні – автомобілі з ДВЗ</li>
                    <li><span class="icon blue"></span> Сині – електромобілі</li>
                </ul>
            </ul>
        </div>
        <div class="section">
            <h2>Результати моделювання</h2>
            <p>Результати показують зміну співвідношення автомобілів з ДВЗ та електромобілів протягом визначеного
                періоду. Наприклад:</p>
            <ul>
                <li><strong>Рік 0:</strong> 80% ДВЗ, 20% електромобілів</li>
                <li><strong>Рік 7:</strong> 21.47% ДВЗ, 78.53% електромобілів</li>
            </ul>
            <p>Користувач може спостерігати динаміку заміни та вплив різних факторів на процес переходу.</p>
        </div>
    </div>
</div>
</body>
</html>