{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <title>Система імітаційного моделювання заміни автомобілів з ДВЗ на електромобілі</title>
</head>
<body>
<div class="main_text">
    <p>Система імітаційного моделювання заміни автомобілів з ДВЗ на електромобілі</p>
</div>
<div class="menu">
    <a href="#" class="menu_text_1"><strong>Головна</strong></a>
    <a href="#" class="menu_text"><strong>Опис математичної моделі</strong></a>
    <a href="#" class="menu_text"><strong>Skills</strong></a>
    <a href="#" class="menu_text"><strong>Portfolio</strong></a>
    <a href="#" class="menu_text"><strong>Contacts</strong></a>
</div>

<div class="UI">

    <div class="user_UI">
        <p class="text_in_UI">Ведіть значення для обрахунку:</p>

        <label class="label_for_input_field" for="fuel_price">Ціна палива:</label>
        <input class="input_for_user" type="text" id="fuel_price" placeholder="Значення_1">

        <label class="label_for_input_field" for="electricity_price">Ціна електроенергії:</label>
        <input class="input_for_user" type="text" id="electricity_price" placeholder="Значення_2">

        <label class="label_for_input_field" for="dvz_maintenance_factor">Коефіцієнт обслуговування ДВЗ:</label>
        <input class="input_for_user" type="text" id="dvz_maintenance_factor" placeholder="Значення_3">

        <label class="label_for_input_field" for="ev_maintenance_factor">Коефіцієнт обслуговування електромобіля:</label>
        <input class="input_for_user" type="text" id="ev_maintenance_factor" placeholder="Значення_4">

        <label class="label_for_input_field" for="dvz_range">Діапазон ДВЗ:</label>
        <input class="input_for_user" type="text" id="dvz_range" placeholder="Значення_5">

        <label class="label_for_input_field" for="ev_range">Діапазон електромобіля:</label>
        <input class="input_for_user" type="text" id="ev_range" placeholder="Значення_6">

        <label class="label_for_input_field" for="charging_speed">Швидкість зарядки:</label>
        <input class="input_for_user" type="text" id="charging_speed" placeholder="Значення_7">

        <label class="label_for_input_field" for="refueling_speed">Швидкість заправки:</label>
        <input class="input_for_user" type="text" id="refueling_speed" placeholder="Значення_8">

        <label class="label_for_input_field" for="ev_subsidy">Субсидія для електромобіля:</label>
        <input class="input_for_user" type="text" id="ev_subsidy" placeholder="Значення_9">

        <label class="label_for_input_field" for="dvz_subsidy">Субсидія для ДВЗ:</label>
        <input class="input_for_user" type="text" id="dvz_subsidy" placeholder="Значення_10">

        <button class="input_for_user user_button">Розрахувати</button>
    </div>

    <div class="diagrams_UI">
        <p class="text_in_UI">Графічне представлення моделі:</p>
    </div>
</div>

<div class="Input_for_years">
    <input type="range" id="volume" name="volume" min="0" max="50" value="0" class="slider">
    <div class="output">Поточне значення: <span id="value">0</span></div>
</div>

<script>
    // Отримуємо елементи
    const slider = document.getElementById('volume');
    const valueDisplay = document.getElementById('value');

    // Додаємо обробник події для зміни значення
    slider.addEventListener('input', function () {
        valueDisplay.textContent = this.value; // Оновлюємо відображення значення
    });
</script>
</body>
</html>